.burger-button {
  width: rem(24);
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(7.5);
  z-index: 101;

  &__item {
    width: 100%;
    height: rem(3);
    background-color: var(--color-primary);
    border-radius: rem(4);
    transition-property: transform, opacity, visibility, background;
    transition-duration: 0.6s;
  }

  &_active {
    .burger-button__item {
      &:nth-child(1) {
        transform: rotate(45deg) translate(rem(8), rem(8));
      }
      &:nth-child(2) {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100%);
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(rem(7), rem(-7));
      }
    }
  }
}
