<div class="burger-menu">
  <div class="burger-menu__body">
    <div class="burger-menu__content container">
      <ul class="list-reset d-flex nav-menu burger-menu__nav-menu">
        <li class="nav-menu__item">
          <a
            href="#podcasts"
            class="nav-menu__link burger-menu__link_close smooth-scroll"
          >
            Подкасты
          </a>
        </li>
        <li class="nav-menu__item">
          <a
            href="#transmission"
            class="nav-menu__link burger-menu__link_close smooth-scroll"
          >
            Передачи
          </a>
        </li>
        <li class="nav-menu__item">
          <a
            href="#guests"
            class="nav-menu__link burger-menu__link_close smooth-scroll"
          >
            Гости
          </a>
        </li>
        <li class="nav-menu__item">
          <a
            href="#playlists"
            class="nav-menu__link burger-menu__link_close smooth-scroll"
          >
            Плейлисты
          </a>
        </li>
        <li class="nav-menu__item">
          <a
            href="#about"
            class="nav-menu__link burger-menu__link_close smooth-scroll"
          >
            О нас
          </a>
        </li>
      </ul>
      <ul class="list-reset burger-menu__extra-menu extra-menu">
        <li class="extra-menu__item extra-menu__item_transform-x">
          <a href="#" class="extra-menu__link burger-menu__link_close">
            Новости
          </a>
        </li>
        <li class="extra-menu__item extra-menu__item_transform-x">
          <a href="#" class="extra-menu__link burger-menu__link_close">
            Блоги
          </a>
        </li>
        <li class="extra-menu__item extra-menu__item_transform-x">
          <a href="#" class="extra-menu__link burger-menu__link_close">
            Топы
          </a>
        </li>
        <li class="extra-menu__item extra-menu__item_transform-x">
          <a href="#" class="extra-menu__link burger-menu__link_close">
            Опросы
          </a>
        </li>
        <li class="extra-menu__item extra-menu__item_transform-x">
          <a href="#" class="extra-menu__link burger-menu__link_close">
            Рейтинги
          </a>
        </li>
        <li class="extra-menu__item extra-menu__item_transform-x">
          <a href="#" class="extra-menu__link burger-menu__link_close">
            Реклама
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
