<div class="modal feedback-modal fade-animation">
  <div class="modal__body">
    <div class="container">
      <div class="modal__content">
        <picture class="modal__img">
          <source srcset="img/feedback-modal-img.avif" type="image/avif" />
          <source srcset="img/feedback-modal-img.webp" type="image/webp" />
          <img loading="lazy" src="img/feedback-modal-img.webp" alt="" />
        </picture>
        <h2 class="title feedback-modal__title"></h2>
        <button class="modal__close">
          <svg class="modal__icon">
            <use xlink:href="img/sprite.svg#closed_modal"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
