<header class="header">
  <div
    class="header__item header__item_laptop-visible desctop-hidden header__item_background"
  >
    <div class="container">
      <a href="#" class="logo header__logo">
        <img src="../img/logo.svg" alt="Logo" />
      </a>
      <a
        href="#"
        class="btn-reset login-trigger login-trigger_hidden mobile-visible"
      >
        Вход
      </a>
    </div>
  </div>
  <div class="header__item header__item_bb-1 header__item_padding">
    <div class="container a-center d-flex">
      <button
        type="button"
        class="btn-reset tablet-visible burger-button header__burger-button"
      >
        <span class="burger-button__item"></span
        ><span class="burger-button__item"></span
        ><span class="burger-button__item"></span>
      </button>
      <a href="#" class="logo header__logo header__logo_hidden">
        <img src="../img/logo.svg" alt="Logo" />
      </a>
      <ul class="list-reset d-flex header__nav-menu nav-menu tablet-hidden">
        <li class="nav-menu__item nav-menu__item_margin-right">
          <a href="#podcasts" class="nav-menu__link smooth-scroll">
            Подкасты
          </a>
        </li>
        <li class="nav-menu__item nav-menu__item_margin-right">
          <a href="#transmission" class="nav-menu__link smooth-scroll">
            Передачи
          </a>
        </li>
        <li class="nav-menu__item nav-menu__item_margin-right">
          <a href="#guests" class="nav-menu__link smooth-scroll"> Гости </a>
        </li>
        <li class="nav-menu__item nav-menu__item_margin-right">
          <a href="#playlists" class="nav-menu__link smooth-scroll">
            Плейлисты
          </a>
        </li>
        <li class="nav-menu__item nav-menu__item_margin-right">
          <a href="#about" class="nav-menu__link smooth-scroll"> О нас </a>
        </li>
      </ul>
      <button
        type="button"
        class="btn-reset header__search-trigger search-trigger"
      >
        <svg class="search-trigger__icon">
          <use xlink:href="./img/sprite.svg#search"></use>
        </svg>
      </button>
      <a href="#" class="btn-reset login-trigger mobile-hidden"> Вход </a>
    </div>
  </div>
  <div class="header__item header__item_bb-3">
    <div class="container header__container d-flex a-center">
      <ul class="list-reset header__extra-menu extra-menu mobile-hidden">
        <li class="extra-menu__item extra-menu__item_transform-x">
          <a href="#" class="extra-menu__link"> Новости </a>
        </li>
        <li class="extra-menu__item extra-menu__item_transform-x">
          <a href="#" class="extra-menu__link"> Блоги </a>
        </li>
        <li class="extra-menu__item extra-menu__item_transform-x">
          <a href="#" class="extra-menu__link"> Топы </a>
        </li>
        <li class="extra-menu__item extra-menu__item_transform-x">
          <a href="#" class="extra-menu__link"> Опросы </a>
        </li>
        <li class="extra-menu__item extra-menu__item_transform-x">
          <a href="#" class="extra-menu__link"> Рейтинги </a>
        </li>
        <li class="extra-menu__item extra-menu__item_transform-x">
          <a href="#" class="extra-menu__link"> Реклама </a>
        </li>
      </ul>
      <button class="tablet-hidden ether ether_border header__ether btn-reset">
        <svg class="ether__icon">
          <use xlink:href="./img/sprite.svg#play-music"></use>
        </svg>
        <span class="ether__text-content">
          <span class="ether__text"> Раннее в эфире </span>
          <span class="ether__current-ether"> Музыка </span>
        </span>
      </button>
      <button
        class="tablet-hidden ether ether_border header__ether header__ether_mr btn-reset"
      >
        <svg class="ether__icon">
          <use xlink:href="./img/sprite.svg#play-music"></use>
        </svg>
        <span class="ether__text-content">
          <span class="ether__text"> Сейчас в эфире </span>
          <span class="ether__current-ether"> Как так? </span>
        </span>
      </button>
      <div class="age-limit">
        <p class="text-reset age-limit__text">
          <span> 12+ </span>
        </p>
      </div>
      <button class="btn-reset ether ether_hidden tablet-visible mobile-hidden">
        <svg class="ether__icon">
          <use xlink:href="./img/sprite.svg#play-music"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="header__item desctop-hidden header__item_mobile-visible">
    <div class="container">
      <button
        type="button"
        class="ether-trigger header__ether-trigger btn-reset"
      >
        <svg
          class="ether-trigger__icon"
          width="15"
          height="15"
          viewBox="0 0 15 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="7.5" cy="7.5" r="7.5" fill="#6D31EE" />
          <path d="M12 7.00014V8.00014H3V7.00014H12Z" fill="white" />
          <path d="M8 12.0001H7L7 3.00014L8 3.00014L8 12.0001Z" fill="white" />
        </svg>

        Что в эфире?
      </button>
      <div class="ether-drop header__ether-drop">
        <div class="ether-drop__content">
          <button class="ether btn-reset">
            <svg class="ether__icon">
              <use xlink:href="./img/sprite.svg#play-music"></use>
            </svg>
            <span class="ether__text-content">
              <span class="ether__text"> Раннее в эфире </span>
              <span class="ether__current-ether"> Музыка </span>
            </span>
          </button>
          <button class="ether btn-reset">
            <svg class="ether__icon">
              <use xlink:href="./img/sprite.svg#play-music"></use>
            </svg>
            <span class="ether__text-content">
              <span class="ether__text"> Сейчас в эфире </span>
              <span class="ether__current-ether"> Как так? </span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
