<section class="hero">
  <div class="container hero__container">
    <h1 class="lead hero__lead">
      Радио <span class="lead__name-company">
        W-Wawe
      </span>
    </h1>
    <p class="hero__desc">
      Привет, на связи W-Wawe! Раньше мы были <a class="hero__link" href="#">изданием</a>, а теперь пробуем себя
      в разоворном жанре.
      Говорим о музыке,
      политике,
      истории, науке и культуре. Здесь, помимо прямого эфира — архив передач и многое другое :)
    </p>
    <a href="#" class="hero__button btn-reset button_color-white button button_bg button_border button_size-large">
      Слушать эфир
    </a>
  </div>
</section>
