<div class="modal login-modal fade-animation">
  <div class="modal__body">
    <div class="container">
      <div class="modal__content">
        <h2 class="title login-modal__title">Вход</h2>
        <p class="login-modal__text">
          Если у вас ещё нет аккаунта,
          <a href="#" class="login-modal__link">зарегестрируйтесь</a>
        </p>
        <form action="#" class="login-modal__form">
          <label class="login-modal__label">
            <input
              type="text"
              name="login"
              placeholder="Логин"
              class="input-reset login-modal__input"
            />
          </label>
          <label class="login-modal__label">
            <input
              type="password"
              name="password"
              placeholder="Пароль"
              class="input-reset login-modal__input"
            />
          </label>
          <button
            class="btn-reset button button_color-white button_bg login-modal__button"
          >
            Войти
          </button>
        </form>
        <p class="login-modal__text">Войти с помощью</p>
        <ul class="list-reset social login-modal__social">
          <li class="social__item">
            <a href="#" class="social__link">
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#inst"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" class="social__link">
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" class="social__link">
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
        <button class="modal__close">
          <svg class="modal__icon">
            <use xlink:href="img/sprite.svg#closed_modal"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
