<section id="playlists" class="playlists">
  <div class="container playlists__container">
    <div class="playlists__item">
      <h2 class="title playlists__title title_color-black">Плейлисты</h2>
      <p class="playlists__text playlists__text_mgb-8">Жанр</p>
      <div
        class="playlists__radio-buttons playlists__radio-buttons_mobile-hidden"
      >
        <label class="custom-radio playlists__label" tabindex="0">
          <input
            type="radio"
            name="musicalGenre"
            class="visually-hidden playlists__radio"
          />
          <span>Постпанк</span>
        </label>
        <label class="custom-radio playlists__label" tabindex="0">
          <input
            type="radio"
            name="musicalGenre"
            class="visually-hidden playlists__radio"
          />
          <span>Постпанк</span>
        </label>
        <label class="custom-radio playlists__label" tabindex="0">
          <input
            type="radio"
            name="musicalGenre"
            class="visually-hidden playlists__radio"
          />
          <span>Постпанк</span>
        </label>
        <label class="custom-radio playlists__label" tabindex="0">
          <input
            type="radio"
            name="musicalGenre"
            class="visually-hidden playlists__radio"
          />
          <span>Постпанк</span>
        </label>
        <label class="custom-radio playlists__label" tabindex="0">
          <input
            type="radio"
            name="musicalGenre"
            class="visually-hidden playlists__radio"
          />
          <span>Постпанк</span>
        </label>
        <label class="custom-radio playlists__label" tabindex="0">
          <input
            type="radio"
            name="musicalGenre"
            class="visually-hidden playlists__radio"
          />
          <span>Постпанк</span>
        </label>
        <label class="custom-radio playlists__label" tabindex="0">
          <input
            type="radio"
            name="musicalGenre"
            class="visually-hidden playlists__radio"
          />
          <span>Постпанк</span>
        </label>
        <label class="custom-radio playlists__label" tabindex="0">
          <input
            type="radio"
            name="musicalGenre"
            class="visually-hidden playlists__radio"
          />
          <span>Постпанк</span>
        </label>
      </div>
      <div class="playlists__buttons">
        <div class="musical-genre">
          <button
            type="button"
            class="btn-reset musical-genre__item musical-genre__item_active"
          >
            Постпанк
          </button>
          <button type="button" class="btn-reset musical-genre__item">
            Постпанк
          </button>
          <button type="button" class="btn-reset musical-genre__item">
            Постпанк
          </button>
          <button type="button" class="btn-reset musical-genre__item">
            Постпанк
          </button>
          <button type="button" class="btn-reset musical-genre__item">
            Постпанк
          </button>
          <button type="button" class="btn-reset musical-genre__item">
            Постпанк
          </button>
          <button type="button" class="btn-reset musical-genre__item">
            Постпанк
          </button>
          <button type="button" class="btn-reset musical-genre__item">
            Постпанк
          </button>
        </div>
      </div>
    </div>
    <div class="playlists__item playlists__item_grid">
      <a href="#" class="btn-reset group-card">
        <div class="group-card__item">
          <picture>
            <source
              media="(min-width: 75rem)"
              srcset="img/playlists_one.avif"
              type="image/avif"
            />
            <source
              media="(min-width: 75rem)"
              srcset="img/playlists_one.webp"
              type="image/webp"
            />
            <source
              media="(max-width: 74.99rem) and (min-width: 0rem)"
              srcset="img/playlists_one_laptop.avif"
              type="image/avif"
            />
            <source
              media="(max-width: 74.99rem) and (min-width: 0rem)"
              srcset="img/playlists_one_laptop.webp"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="img/playlists_one.jpg"
              class="group-card__img"
              alt="ploho"
            />
          </picture>
          <span class="group-card__icon">
            <img src="../img/ru.svg" alt="" />
          </span>
        </div>
        <div class="group-card__item">
          <h3 class="group-card__subtitle">Ploho</h3>
          <p class="group-card__text">3 последних альбома</p>
        </div>
      </a>
      <a href="#" class="btn-reset group-card">
        <div class="group-card__item">
          <picture>
            <source
              media="(min-width: 75rem)"
              srcset="img/playlists_one.avif"
              type="image/avif"
            />
            <source
              media="(min-width: 75rem)"
              srcset="img/playlists_one.webp"
              type="image/webp"
            />
            <source
              media="(max-width: 74.99rem) and (min-width: 0rem)"
              srcset="img/playlists_one_laptop.avif"
              type="image/avif"
            />
            <source
              media="(max-width: 74.99rem) and (min-width: 0rem)"
              srcset="img/playlists_one_laptop.webp"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="img/playlists_one.jpg"
              class="group-card__img"
              alt="ploho"
            />
          </picture>
          <span class="group-card__icon">
            <img src="../img/ru.svg" alt="" />
          </span>
        </div>
        <div class="group-card__item">
          <h3 class="group-card__subtitle">Ploho</h3>
          <p class="group-card__text">3 последних альбома</p>
        </div>
      </a>
      <a href="#" class="btn-reset group-card">
        <div class="group-card__item">
          <picture>
            <source
              media="(min-width: 75rem)"
              srcset="img/playlists_one.avif"
              type="image/avif"
            />
            <source
              media="(min-width: 75rem)"
              srcset="img/playlists_one.webp"
              type="image/webp"
            />
            <source
              media="(max-width: 74.99rem) and (min-width: 0rem)"
              srcset="img/playlists_one_laptop.avif"
              type="image/avif"
            />
            <source
              media="(max-width: 74.99rem) and (min-width: 0rem)"
              srcset="img/playlists_one_laptop.webp"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="img/playlists_one.jpg"
              class="group-card__img"
              alt="ploho"
            />
          </picture>
          <span class="group-card__icon">
            <img src="../img/ru.svg" alt="" />
          </span>
        </div>
        <div class="group-card__item">
          <h3 class="group-card__subtitle">Ploho</h3>
          <p class="group-card__text">3 последних альбома</p>
        </div>
      </a>
      <a href="#" class="btn-reset group-card">
        <div class="group-card__item">
          <picture>
            <source
              media="(min-width: 75rem)"
              srcset="img/playlists_one.avif"
              type="image/avif"
            />
            <source
              media="(min-width: 75rem)"
              srcset="img/playlists_one.webp"
              type="image/webp"
            />
            <source
              media="(max-width: 74.99rem) and (min-width: 0rem)"
              srcset="img/playlists_one_laptop.avif"
              type="image/avif"
            />
            <source
              media="(max-width: 74.99rem) and (min-width: 0rem)"
              srcset="img/playlists_one_laptop.webp"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="img/playlists_one.jpg"
              class="group-card__img"
              alt="ploho"
            />
          </picture>
          <span class="group-card__icon">
            <img src="../img/ru.svg" alt="" />
          </span>
        </div>
        <div class="group-card__item">
          <h3 class="group-card__subtitle">Ploho</h3>
          <p class="group-card__text">3 последних альбома</p>
        </div>
      </a>
      <a href="#" class="btn-reset group-card">
        <div class="group-card__item">
          <picture>
            <source
              media="(min-width: 75rem)"
              srcset="img/playlists_one.avif"
              type="image/avif"
            />
            <source
              media="(min-width: 75rem)"
              srcset="img/playlists_one.webp"
              type="image/webp"
            />
            <source
              media="(max-width: 74.99rem) and (min-width: 0rem)"
              srcset="img/playlists_one_laptop.avif"
              type="image/avif"
            />
            <source
              media="(max-width: 74.99rem) and (min-width: 0rem)"
              srcset="img/playlists_one_laptop.webp"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="img/playlists_one.jpg"
              class="group-card__img"
              alt="ploho"
            />
          </picture>
          <span class="group-card__icon">
            <img src="../img/ru.svg" alt="" />
          </span>
        </div>
        <div class="group-card__item">
          <h3 class="group-card__subtitle">Ploho</h3>
          <p class="group-card__text">3 последних альбома</p>
        </div>
      </a>
      <a href="#" class="btn-reset group-card">
        <div class="group-card__item">
          <picture>
            <source
              media="(min-width: 75rem)"
              srcset="img/playlists_one.avif"
              type="image/avif"
            />
            <source
              media="(min-width: 75rem)"
              srcset="img/playlists_one.webp"
              type="image/webp"
            />
            <source
              media="(max-width: 74.99rem) and (min-width: 0rem)"
              srcset="img/playlists_one_laptop.avif"
              type="image/avif"
            />
            <source
              media="(max-width: 74.99rem) and (min-width: 0rem)"
              srcset="img/playlists_one_laptop.webp"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="img/playlists_one.jpg"
              class="group-card__img"
              alt="ploho"
            />
          </picture>
          <span class="group-card__icon">
            <img src="../img/ru.svg" alt="" />
          </span>
        </div>
        <div class="group-card__item">
          <h3 class="group-card__subtitle">Ploho</h3>
          <p class="group-card__text">3 последних альбома</p>
        </div>
      </a>
      <a href="#" class="btn-reset group-card">
        <div class="group-card__item">
          <picture>
            <source
              media="(min-width: 75rem)"
              srcset="img/playlists_one.avif"
              type="image/avif"
            />
            <source
              media="(min-width: 75rem)"
              srcset="img/playlists_one.webp"
              type="image/webp"
            />
            <source
              media="(max-width: 74.99rem) and (min-width: 0rem)"
              srcset="img/playlists_one_laptop.avif"
              type="image/avif"
            />
            <source
              media="(max-width: 74.99rem) and (min-width: 0rem)"
              srcset="img/playlists_one_laptop.webp"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="img/playlists_one.jpg"
              class="group-card__img"
              alt="ploho"
            />
          </picture>
          <span class="group-card__icon">
            <img src="../img/ru.svg" alt="" />
          </span>
        </div>
        <div class="group-card__item">
          <h3 class="group-card__subtitle">Ploho</h3>
          <p class="group-card__text">3 последних альбома</p>
        </div>
      </a>
      <a href="#" class="btn-reset group-card">
        <div class="group-card__item">
          <picture>
            <source
              media="(min-width: 75rem)"
              srcset="img/playlists_one.avif"
              type="image/avif"
            />
            <source
              media="(min-width: 75rem)"
              srcset="img/playlists_one.webp"
              type="image/webp"
            />
            <source
              media="(max-width: 74.99rem) and (min-width: 0rem)"
              srcset="img/playlists_one_laptop.avif"
              type="image/avif"
            />
            <source
              media="(max-width: 74.99rem) and (min-width: 0rem)"
              srcset="img/playlists_one_laptop.webp"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="img/playlists_one.jpg"
              class="group-card__img"
              alt="ploho"
            />
          </picture>
          <span class="group-card__icon">
            <img src="../img/ru.svg" alt="" />
          </span>
        </div>
        <div class="group-card__item">
          <h3 class="group-card__subtitle">Ploho</h3>
          <p class="group-card__text">3 последних альбома</p>
        </div>
      </a>
      <a href="#" class="btn-reset group-card">
        <div class="group-card__item">
          <picture>
            <source
              media="(min-width: 75rem)"
              srcset="img/playlists_one.avif"
              type="image/avif"
            />
            <source
              media="(min-width: 75rem)"
              srcset="img/playlists_one.webp"
              type="image/webp"
            />
            <source
              media="(max-width: 74.99rem) and (min-width: 0rem)"
              srcset="img/playlists_one_laptop.avif"
              type="image/avif"
            />
            <source
              media="(max-width: 74.99rem) and (min-width: 0rem)"
              srcset="img/playlists_one_laptop.webp"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="img/playlists_one.jpg"
              class="group-card__img"
              alt="ploho"
            />
          </picture>
          <span class="group-card__icon">
            <img src="../img/ru.svg" alt="" />
          </span>
        </div>
        <div class="group-card__item">
          <h3 class="group-card__subtitle">Ploho</h3>
          <p class="group-card__text">3 последних альбома</p>
        </div>
      </a>
      <a href="#" class="btn-reset group-card">
        <div class="group-card__item">
          <picture>
            <source
              media="(min-width: 75rem)"
              srcset="img/playlists_one.avif"
              type="image/avif"
            />
            <source
              media="(min-width: 75rem)"
              srcset="img/playlists_one.webp"
              type="image/webp"
            />
            <source
              media="(max-width: 74.99rem) and (min-width: 0rem)"
              srcset="img/playlists_one_laptop.avif"
              type="image/avif"
            />
            <source
              media="(max-width: 74.99rem) and (min-width: 0rem)"
              srcset="img/playlists_one_laptop.webp"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="img/playlists_one.jpg"
              class="group-card__img"
              alt="ploho"
            />
          </picture>
          <span class="group-card__icon">
            <img src="../img/ru.svg" alt="" />
          </span>
        </div>
        <div class="group-card__item">
          <h3 class="group-card__subtitle">Ploho</h3>
          <p class="group-card__text">3 последних альбома</p>
        </div>
      </a>
      <a href="#" class="btn-reset group-card">
        <div class="group-card__item">
          <picture>
            <source
              media="(min-width: 75rem)"
              srcset="img/playlists_one.avif"
              type="image/avif"
            />
            <source
              media="(min-width: 75rem)"
              srcset="img/playlists_one.webp"
              type="image/webp"
            />
            <source
              media="(max-width: 74.99rem) and (min-width: 0rem)"
              srcset="img/playlists_one_laptop.avif"
              type="image/avif"
            />
            <source
              media="(max-width: 74.99rem) and (min-width: 0rem)"
              srcset="img/playlists_one_laptop.webp"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="img/playlists_one.jpg"
              class="group-card__img"
              alt="ploho"
            />
          </picture>
          <span class="group-card__icon">
            <img src="../img/ru.svg" alt="" />
          </span>
        </div>
        <div class="group-card__item">
          <h3 class="group-card__subtitle">Ploho</h3>
          <p class="group-card__text">3 последних альбома</p>
        </div>
      </a>
      <a href="#" class="btn-reset group-card">
        <div class="group-card__item">
          <picture>
            <source
              media="(min-width: 75rem)"
              srcset="img/playlists_one.avif"
              type="image/avif"
            />
            <source
              media="(min-width: 75rem)"
              srcset="img/playlists_one.webp"
              type="image/webp"
            />
            <source
              media="(max-width: 74.99rem) and (min-width: 0rem)"
              srcset="img/playlists_one_laptop.avif"
              type="image/avif"
            />
            <source
              media="(max-width: 74.99rem) and (min-width: 0rem)"
              srcset="img/playlists_one_laptop.webp"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="img/playlists_one.jpg"
              class="group-card__img"
              alt="ploho"
            />
          </picture>
          <span class="group-card__icon">
            <img src="../img/ru.svg" alt="" />
          </span>
        </div>
        <div class="group-card__item">
          <h3 class="group-card__subtitle">Ploho</h3>
          <p class="group-card__text">3 последних альбома</p>
        </div>
      </a>
    </div>
    <div class="playlists__item">
      <p class="playlists__text playlists__text_mgb-6 playlists__text_lh-22">
        Раздел «Плейлисты» может содержать информацию, не предназначенную для
        несовершеннолетних.
        <span class="playlists__name-company"> © 2021 l W-Wave </span>
      </p>
      <div class="playlists__limitation-age">
        <p class="playlists__age">18+</p>
      </div>
    </div>
  </div>
</section>
