<section id="podcasts" class="podcasts">
  <div class="container">
    <h2 class="title podcasts__title title_color-black">Подкасты</h2>
    <ul class="list-reset podcasts__grid">
      <li class="podcasts__item">
        <article class="podcast">
          <div class="podcast__item">
            <picture>
              <source
                media="(min-width: 48rem)"
                srcset="img/podcast_1.avif"
                type="image/avif"
              />
              <source
                media="(min-width: 48rem)"
                srcset="img/podcast_1.webp"
                type="image/webp"
              />
              <source
                media="(max-width: 47.99rem)"
                srcset="img/podcast_1_mobile.avif"
                type="image/avif"
              />
              <source
                media="(max-width: 47.99rem)"
                srcset="img/podcast_1_mobile.webp"
                type="image/webp"
              />
              <img
                alt="Europe 19th century"
                loading="lazy"
                src="img/podcast_1.jpg"
                class="podcast__img"
              />
            </picture>
            <p class="date podcast__date">14 июня</p>
          </div>
          <div class="podcast__item podcast__item_padding">
            <div class="podcast__content">
              <p class="duration podcast__duration">15:43</p>
              <h3 class="podcast__title">Европа. XIX век</h3>
              <p class="podcast__author">Дмитрий Гутенберг</p>
              <ul class="list-reset statistics podcast__statistics">
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_auditions"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#audits"></use>
                    </svg>
                    <span class="statistics__value"> 258 </span>
                  </button>
                </li>
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_likes"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#like"></use>
                    </svg>
                    <span class="statistics__value"> 104 </span>
                  </button>
                </li>
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_reposts"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#reposts"></use>
                    </svg>
                    <span class="statistics__value"> 68 </span>
                  </button>
                </li>
              </ul>
              <button type="button" class="btn-reset podcast__play">
                <svg class="podcast__icon">
                  <use xlink:href="./img/sprite.svg#podcast-play"></use>
                </svg>
              </button>
            </div>
          </div>
        </article>
      </li>
      <li class="podcasts__item">
        <article class="podcast">
          <div class="podcast__item">
            <picture>
              <source
                media="(min-width: 48rem)"
                srcset="img/podcast_1.avif"
                type="image/avif"
              />
              <source
                media="(min-width: 48rem)"
                srcset="img/podcast_1.webp"
                type="image/webp"
              />
              <source
                media="(max-width: 47.99rem)"
                srcset="img/podcast_1_mobile.avif"
                type="image/avif"
              />
              <source
                media="(max-width: 47.99rem)"
                srcset="img/podcast_1_mobile.webp"
                type="image/webp"
              />
              <img
                alt="Europe 19th century"
                loading="lazy"
                src="img/podcast_1.jpg"
                class="podcast__img"
              />
            </picture>
            <p class="date podcast__date">14 июня</p>
          </div>
          <div class="podcast__item podcast__item_padding">
            <div class="podcast__content">
              <p class="duration podcast__duration">15:43</p>
              <h3 class="podcast__title">Европа. XIX век</h3>
              <p class="podcast__author">Дмитрий Гутенберг</p>
              <ul class="list-reset statistics podcast__statistics">
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_auditions"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#audits"></use>
                    </svg>
                    <span class="statistics__value"> 258 </span>
                  </button>
                </li>
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_likes"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#like"></use>
                    </svg>
                    <span class="statistics__value"> 104 </span>
                  </button>
                </li>
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_reposts"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#reposts"></use>
                    </svg>
                    <span class="statistics__value"> 68 </span>
                  </button>
                </li>
              </ul>
              <button type="button" class="btn-reset podcast__play">
                <svg class="podcast__icon">
                  <use xlink:href="./img/sprite.svg#podcast-play"></use>
                </svg>
              </button>
            </div>
          </div>
        </article>
      </li>
      <li class="podcasts__item">
        <article class="podcast">
          <div class="podcast__item">
            <picture>
              <source
                media="(min-width: 48rem)"
                srcset="img/podcast_1.avif"
                type="image/avif"
              />
              <source
                media="(min-width: 48rem)"
                srcset="img/podcast_1.webp"
                type="image/webp"
              />
              <source
                media="(max-width: 47.99rem)"
                srcset="img/podcast_1_mobile.avif"
                type="image/avif"
              />
              <source
                media="(max-width: 47.99rem)"
                srcset="img/podcast_1_mobile.webp"
                type="image/webp"
              />
              <img
                alt="Europe 19th century"
                loading="lazy"
                src="img/podcast_1.jpg"
                class="podcast__img"
              />
            </picture>
            <p class="date podcast__date">14 июня</p>
          </div>
          <div class="podcast__item podcast__item_padding">
            <div class="podcast__content">
              <p class="duration podcast__duration">15:43</p>
              <h3 class="podcast__title">Европа. XIX век</h3>
              <p class="podcast__author">Дмитрий Гутенберг</p>
              <ul class="list-reset statistics podcast__statistics">
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_auditions"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#audits"></use>
                    </svg>
                    <span class="statistics__value"> 258 </span>
                  </button>
                </li>
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_likes"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#like"></use>
                    </svg>
                    <span class="statistics__value"> 104 </span>
                  </button>
                </li>
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_reposts"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#reposts"></use>
                    </svg>
                    <span class="statistics__value"> 68 </span>
                  </button>
                </li>
              </ul>
              <button type="button" class="btn-reset podcast__play">
                <svg class="podcast__icon">
                  <use xlink:href="./img/sprite.svg#podcast-play"></use>
                </svg>
              </button>
            </div>
          </div>
        </article>
      </li>
      <li class="podcasts__item">
        <article class="podcast">
          <div class="podcast__item">
            <picture>
              <source
                media="(min-width: 48rem)"
                srcset="img/podcast_1.avif"
                type="image/avif"
              />
              <source
                media="(min-width: 48rem)"
                srcset="img/podcast_1.webp"
                type="image/webp"
              />
              <source
                media="(max-width: 47.99rem)"
                srcset="img/podcast_1_mobile.avif"
                type="image/avif"
              />
              <source
                media="(max-width: 47.99rem)"
                srcset="img/podcast_1_mobile.webp"
                type="image/webp"
              />
              <img
                alt="Europe 19th century"
                loading="lazy"
                src="img/podcast_1.jpg"
                class="podcast__img"
              />
            </picture>
            <p class="date podcast__date">14 июня</p>
          </div>
          <div class="podcast__item podcast__item_padding">
            <div class="podcast__content">
              <p class="duration podcast__duration">15:43</p>
              <h3 class="podcast__title">Европа. XIX век</h3>
              <p class="podcast__author">Дмитрий Гутенберг</p>
              <ul class="list-reset statistics podcast__statistics">
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_auditions"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#audits"></use>
                    </svg>
                    <span class="statistics__value"> 258 </span>
                  </button>
                </li>
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_likes"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#like"></use>
                    </svg>
                    <span class="statistics__value"> 104 </span>
                  </button>
                </li>
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_reposts"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#reposts"></use>
                    </svg>
                    <span class="statistics__value"> 68 </span>
                  </button>
                </li>
              </ul>
              <button type="button" class="btn-reset podcast__play">
                <svg class="podcast__icon">
                  <use xlink:href="./img/sprite.svg#podcast-play"></use>
                </svg>
              </button>
            </div>
          </div>
        </article>
      </li>
      <li class="podcasts__item">
        <article class="podcast">
          <div class="podcast__item">
            <picture>
              <source
                media="(min-width: 48rem)"
                srcset="img/podcast_1.avif"
                type="image/avif"
              />
              <source
                media="(min-width: 48rem)"
                srcset="img/podcast_1.webp"
                type="image/webp"
              />
              <source
                media="(max-width: 47.99rem)"
                srcset="img/podcast_1_mobile.avif"
                type="image/avif"
              />
              <source
                media="(max-width: 47.99rem)"
                srcset="img/podcast_1_mobile.webp"
                type="image/webp"
              />
              <img
                alt="Europe 19th century"
                loading="lazy"
                src="img/podcast_1.jpg"
                class="podcast__img"
              />
            </picture>
            <p class="date podcast__date">14 июня</p>
          </div>
          <div class="podcast__item podcast__item_padding">
            <div class="podcast__content">
              <p class="duration podcast__duration">15:43</p>
              <h3 class="podcast__title">Европа. XIX век</h3>
              <p class="podcast__author">Дмитрий Гутенберг</p>
              <ul class="list-reset statistics podcast__statistics">
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_auditions"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#audits"></use>
                    </svg>
                    <span class="statistics__value"> 258 </span>
                  </button>
                </li>
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_likes"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#like"></use>
                    </svg>
                    <span class="statistics__value"> 104 </span>
                  </button>
                </li>
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_reposts"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#reposts"></use>
                    </svg>
                    <span class="statistics__value"> 68 </span>
                  </button>
                </li>
              </ul>
              <button type="button" class="btn-reset podcast__play">
                <svg class="podcast__icon">
                  <use xlink:href="./img/sprite.svg#podcast-play"></use>
                </svg>
              </button>
            </div>
          </div>
        </article>
      </li>
      <li class="podcasts__item">
        <article class="podcast">
          <div class="podcast__item">
            <picture>
              <source
                media="(min-width: 48rem)"
                srcset="img/podcast_1.avif"
                type="image/avif"
              />
              <source
                media="(min-width: 48rem)"
                srcset="img/podcast_1.webp"
                type="image/webp"
              />
              <source
                media="(max-width: 47.99rem)"
                srcset="img/podcast_1_mobile.avif"
                type="image/avif"
              />
              <source
                media="(max-width: 47.99rem)"
                srcset="img/podcast_1_mobile.webp"
                type="image/webp"
              />
              <img
                alt="Europe 19th century"
                loading="lazy"
                src="img/podcast_1.jpg"
                class="podcast__img"
              />
            </picture>
            <p class="date podcast__date">14 июня</p>
          </div>
          <div class="podcast__item podcast__item_padding">
            <div class="podcast__content">
              <p class="duration podcast__duration">15:43</p>
              <h3 class="podcast__title">Европа. XIX век</h3>
              <p class="podcast__author">Дмитрий Гутенберг</p>
              <ul class="list-reset statistics podcast__statistics">
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_auditions"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#audits"></use>
                    </svg>
                    <span class="statistics__value"> 258 </span>
                  </button>
                </li>
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_likes"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#like"></use>
                    </svg>
                    <span class="statistics__value"> 104 </span>
                  </button>
                </li>
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_reposts"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#reposts"></use>
                    </svg>
                    <span class="statistics__value"> 68 </span>
                  </button>
                </li>
              </ul>
              <button type="button" class="btn-reset podcast__play">
                <svg class="podcast__icon">
                  <use xlink:href="./img/sprite.svg#podcast-play"></use>
                </svg>
              </button>
            </div>
          </div>
        </article>
      </li>
      <li class="podcasts__item">
        <article class="podcast">
          <div class="podcast__item">
            <picture>
              <source
                media="(min-width: 48rem)"
                srcset="img/podcast_1.avif"
                type="image/avif"
              />
              <source
                media="(min-width: 48rem)"
                srcset="img/podcast_1.webp"
                type="image/webp"
              />
              <source
                media="(max-width: 47.99rem)"
                srcset="img/podcast_1_mobile.avif"
                type="image/avif"
              />
              <source
                media="(max-width: 47.99rem)"
                srcset="img/podcast_1_mobile.webp"
                type="image/webp"
              />
              <img
                alt="Europe 19th century"
                loading="lazy"
                src="img/podcast_1.jpg"
                class="podcast__img"
              />
            </picture>
            <p class="date podcast__date">14 июня</p>
          </div>
          <div class="podcast__item podcast__item_padding">
            <div class="podcast__content">
              <p class="duration podcast__duration">15:43</p>
              <h3 class="podcast__title">Европа. XIX век</h3>
              <p class="podcast__author">Дмитрий Гутенберг</p>
              <ul class="list-reset statistics podcast__statistics">
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_auditions"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#audits"></use>
                    </svg>
                    <span class="statistics__value"> 258 </span>
                  </button>
                </li>
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_likes"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#like"></use>
                    </svg>
                    <span class="statistics__value"> 104 </span>
                  </button>
                </li>
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_reposts"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#reposts"></use>
                    </svg>
                    <span class="statistics__value"> 68 </span>
                  </button>
                </li>
              </ul>
              <button type="button" class="btn-reset podcast__play">
                <svg class="podcast__icon">
                  <use xlink:href="./img/sprite.svg#podcast-play"></use>
                </svg>
              </button>
            </div>
          </div>
        </article>
      </li>
      <li class="podcasts__item">
        <article class="podcast">
          <div class="podcast__item">
            <picture>
              <source
                media="(min-width: 48rem)"
                srcset="img/podcast_1.avif"
                type="image/avif"
              />
              <source
                media="(min-width: 48rem)"
                srcset="img/podcast_1.webp"
                type="image/webp"
              />
              <source
                media="(max-width: 47.99rem)"
                srcset="img/podcast_1_mobile.avif"
                type="image/avif"
              />
              <source
                media="(max-width: 47.99rem)"
                srcset="img/podcast_1_mobile.webp"
                type="image/webp"
              />
              <img
                alt="Europe 19th century"
                loading="lazy"
                src="img/podcast_1.jpg"
                class="podcast__img"
              />
            </picture>
            <p class="date podcast__date">14 июня</p>
          </div>
          <div class="podcast__item podcast__item_padding">
            <div class="podcast__content">
              <p class="duration podcast__duration">15:43</p>
              <h3 class="podcast__title">Европа. XIX век</h3>
              <p class="podcast__author">Дмитрий Гутенберг</p>
              <ul class="list-reset statistics podcast__statistics">
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_auditions"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#audits"></use>
                    </svg>
                    <span class="statistics__value"> 258 </span>
                  </button>
                </li>
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_likes"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#like"></use>
                    </svg>
                    <span class="statistics__value"> 104 </span>
                  </button>
                </li>
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_reposts"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#reposts"></use>
                    </svg>
                    <span class="statistics__value"> 68 </span>
                  </button>
                </li>
              </ul>
              <button type="button" class="btn-reset podcast__play">
                <svg class="podcast__icon">
                  <use xlink:href="./img/sprite.svg#podcast-play"></use>
                </svg>
              </button>
            </div>
          </div>
        </article>
      </li>
      <li class="podcasts__item">
        <article class="podcast">
          <div class="podcast__item">
            <picture>
              <source
                media="(min-width: 48rem)"
                srcset="img/podcast_1.avif"
                type="image/avif"
              />
              <source
                media="(min-width: 48rem)"
                srcset="img/podcast_1.webp"
                type="image/webp"
              />
              <source
                media="(max-width: 47.99rem)"
                srcset="img/podcast_1_mobile.avif"
                type="image/avif"
              />
              <source
                media="(max-width: 47.99rem)"
                srcset="img/podcast_1_mobile.webp"
                type="image/webp"
              />
              <img
                alt="Europe 19th century"
                loading="lazy"
                src="img/podcast_1.jpg"
                class="podcast__img"
              />
            </picture>
            <p class="date podcast__date">14 июня</p>
          </div>
          <div class="podcast__item podcast__item_padding">
            <div class="podcast__content">
              <p class="duration podcast__duration">15:43</p>
              <h3 class="podcast__title">Европа. XIX век</h3>
              <p class="podcast__author">Дмитрий Гутенберг</p>
              <ul class="list-reset statistics podcast__statistics">
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_auditions"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#audits"></use>
                    </svg>
                    <span class="statistics__value"> 258 </span>
                  </button>
                </li>
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_likes"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#like"></use>
                    </svg>
                    <span class="statistics__value"> 104 </span>
                  </button>
                </li>
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_reposts"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#reposts"></use>
                    </svg>
                    <span class="statistics__value"> 68 </span>
                  </button>
                </li>
              </ul>
              <button type="button" class="btn-reset podcast__play">
                <svg class="podcast__icon">
                  <use xlink:href="./img/sprite.svg#podcast-play"></use>
                </svg>
              </button>
            </div>
          </div>
        </article>
      </li>
      <li class="podcasts__item">
        <article class="podcast">
          <div class="podcast__item">
            <picture>
              <source
                media="(min-width: 48rem)"
                srcset="img/podcast_1.avif"
                type="image/avif"
              />
              <source
                media="(min-width: 48rem)"
                srcset="img/podcast_1.webp"
                type="image/webp"
              />
              <source
                media="(max-width: 47.99rem)"
                srcset="img/podcast_1_mobile.avif"
                type="image/avif"
              />
              <source
                media="(max-width: 47.99rem)"
                srcset="img/podcast_1_mobile.webp"
                type="image/webp"
              />
              <img
                alt="Europe 19th century"
                loading="lazy"
                src="img/podcast_1.jpg"
                class="podcast__img"
              />
            </picture>
            <p class="date podcast__date">14 июня</p>
          </div>
          <div class="podcast__item podcast__item_padding">
            <div class="podcast__content">
              <p class="duration podcast__duration">15:43</p>
              <h3 class="podcast__title">Европа. XIX век</h3>
              <p class="podcast__author">Дмитрий Гутенберг</p>
              <ul class="list-reset statistics podcast__statistics">
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_auditions"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#audits"></use>
                    </svg>
                    <span class="statistics__value"> 258 </span>
                  </button>
                </li>
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_likes"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#like"></use>
                    </svg>
                    <span class="statistics__value"> 104 </span>
                  </button>
                </li>
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_reposts"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#reposts"></use>
                    </svg>
                    <span class="statistics__value"> 68 </span>
                  </button>
                </li>
              </ul>
              <button type="button" class="btn-reset podcast__play">
                <svg class="podcast__icon">
                  <use xlink:href="./img/sprite.svg#podcast-play"></use>
                </svg>
              </button>
            </div>
          </div>
        </article>
      </li>
      <li class="podcasts__item">
        <article class="podcast">
          <div class="podcast__item">
            <picture>
              <source
                media="(min-width: 48rem)"
                srcset="img/podcast_1.avif"
                type="image/avif"
              />
              <source
                media="(min-width: 48rem)"
                srcset="img/podcast_1.webp"
                type="image/webp"
              />
              <source
                media="(max-width: 47.99rem)"
                srcset="img/podcast_1_mobile.avif"
                type="image/avif"
              />
              <source
                media="(max-width: 47.99rem)"
                srcset="img/podcast_1_mobile.webp"
                type="image/webp"
              />
              <img
                alt="Europe 19th century"
                loading="lazy"
                src="img/podcast_1.jpg"
                class="podcast__img"
              />
            </picture>
            <p class="date podcast__date">14 июня</p>
          </div>
          <div class="podcast__item podcast__item_padding">
            <div class="podcast__content">
              <p class="duration podcast__duration">15:43</p>
              <h3 class="podcast__title">Европа. XIX век</h3>
              <p class="podcast__author">Дмитрий Гутенберг</p>
              <ul class="list-reset statistics podcast__statistics">
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_auditions"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#audits"></use>
                    </svg>
                    <span class="statistics__value"> 258 </span>
                  </button>
                </li>
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_likes"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#like"></use>
                    </svg>
                    <span class="statistics__value"> 104 </span>
                  </button>
                </li>
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_reposts"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#reposts"></use>
                    </svg>
                    <span class="statistics__value"> 68 </span>
                  </button>
                </li>
              </ul>
              <button type="button" class="btn-reset podcast__play">
                <svg class="podcast__icon">
                  <use xlink:href="./img/sprite.svg#podcast-play"></use>
                </svg>
              </button>
            </div>
          </div>
        </article>
      </li>
      <li class="podcasts__item">
        <article class="podcast">
          <div class="podcast__item">
            <picture>
              <source
                media="(min-width: 48rem)"
                srcset="img/podcast_1.avif"
                type="image/avif"
              />
              <source
                media="(min-width: 48rem)"
                srcset="img/podcast_1.webp"
                type="image/webp"
              />
              <source
                media="(max-width: 47.99rem)"
                srcset="img/podcast_1_mobile.avif"
                type="image/avif"
              />
              <source
                media="(max-width: 47.99rem)"
                srcset="img/podcast_1_mobile.webp"
                type="image/webp"
              />
              <img
                alt="Europe 19th century"
                loading="lazy"
                src="img/podcast_1.jpg"
                class="podcast__img"
              />
            </picture>
            <p class="date podcast__date">14 июня</p>
          </div>
          <div class="podcast__item podcast__item_padding">
            <div class="podcast__content">
              <p class="duration podcast__duration">15:43</p>
              <h3 class="podcast__title">Европа. XIX век</h3>
              <p class="podcast__author">Дмитрий Гутенберг</p>
              <ul class="list-reset statistics podcast__statistics">
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_auditions"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#audits"></use>
                    </svg>
                    <span class="statistics__value"> 258 </span>
                  </button>
                </li>
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_likes"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#like"></use>
                    </svg>
                    <span class="statistics__value"> 104 </span>
                  </button>
                </li>
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_reposts"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#reposts"></use>
                    </svg>
                    <span class="statistics__value"> 68 </span>
                  </button>
                </li>
              </ul>
              <button type="button" class="btn-reset podcast__play">
                <svg class="podcast__icon">
                  <use xlink:href="./img/sprite.svg#podcast-play"></use>
                </svg>
              </button>
            </div>
          </div>
        </article>
      </li>
      <li class="podcasts__item">
        <article class="podcast">
          <div class="podcast__item">
            <picture>
              <source
                media="(min-width: 48rem)"
                srcset="img/podcast_1.avif"
                type="image/avif"
              />
              <source
                media="(min-width: 48rem)"
                srcset="img/podcast_1.webp"
                type="image/webp"
              />
              <source
                media="(max-width: 47.99rem)"
                srcset="img/podcast_1_mobile.avif"
                type="image/avif"
              />
              <source
                media="(max-width: 47.99rem)"
                srcset="img/podcast_1_mobile.webp"
                type="image/webp"
              />
              <img
                alt="Europe 19th century"
                loading="lazy"
                src="img/podcast_1.jpg"
                class="podcast__img"
              />
            </picture>
            <p class="date podcast__date">14 июня</p>
          </div>
          <div class="podcast__item podcast__item_padding">
            <div class="podcast__content">
              <p class="duration podcast__duration">15:43</p>
              <h3 class="podcast__title">Европа. XIX век</h3>
              <p class="podcast__author">Дмитрий Гутенберг</p>
              <ul class="list-reset statistics podcast__statistics">
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_auditions"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#audits"></use>
                    </svg>
                    <span class="statistics__value"> 258 </span>
                  </button>
                </li>
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_likes"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#like"></use>
                    </svg>
                    <span class="statistics__value"> 104 </span>
                  </button>
                </li>
                <li class="statistics__item statistics__item_margin-right">
                  <button
                    type="button"
                    class="btn-reset statistics__button statistics__button_reposts"
                  >
                    <svg class="statistics__icon">
                      <use xlink:href="./img/sprite.svg#reposts"></use>
                    </svg>
                    <span class="statistics__value"> 68 </span>
                  </button>
                </li>
              </ul>
              <button type="button" class="btn-reset podcast__play">
                <svg class="podcast__icon">
                  <use xlink:href="./img/sprite.svg#podcast-play"></use>
                </svg>
              </button>
            </div>
          </div>
        </article>
      </li>
    </ul>
    <button
      class="btn-reset button podcasts__button button_border-primary button_size-large button_color-primary"
    >
      Еще подкасты
    </button>
  </div>
</section>
