<section id="transmission" class="transmission">
  <div class="container">
    <div class="transmission__grid">
      <div class="transmission__item">
        <h2 class="title title_color-black transmission__title">Передачи</h2>
        <p class="transmission__text transmission__text_margin-bottom">
          Автор:
        </p>
        <div class="select author-select">
          <button type="button" class="btn-reset select__trigger">
            <span class="select__current-item"></span>
            <svg class="select__icon">
              <use xlink:href="img/sprite.svg#select-icon"></use>
            </svg>
          </button>
          <div class="select__body">
            <div class="select__content">
              <button
                data-key="Дмитрий Гутенберг"
                type="button"
                class="btn-reset select__item animation-menu-text"
              >
                Дмитрий Гутенберг
              </button>
              <button
                data-key="Татьяна Флеганова"
                type="button"
                class="btn-reset select__item animation-menu-text"
              >
                Татьяна Флеганова
              </button>
              <button
                data-key="Петр Дмитриевский"
                type="button"
                class="btn-reset select__item animation-menu-text"
              >
                Петр Дмитриевский
              </button>
            </div>
            <button type="button" class="btn-reset select__more-btn">
              + ещё <span class="select__more-btn-amount"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="transmission__item transmission__item_grid">
        <article class="transmission-card">
          <picture>
            <source
              media="(min-width: 48rem)"
              srcset="img/transmission__1.avif"
              type="image/avif"
            />
            <source
              media="(min-width: 48rem)"
              srcset="img/transmission__1.webp"
              type="image/webp"
            />
            <source
              media="(max-width: 47.99rem)"
              srcset="img/transmission__1_mobile.avif"
              type="image/avif"
            />
            <source
              media="(max-width: 47.99rem)"
              srcset="img/transmission__1_mobile.webp"
              type="image/webp"
            />
            <img
              alt="О людях и книгах"
              loading="lazy"
              src="img/transmission__1.jpg"
              class="transmission-card__img"
            />
          </picture>
          <div class="transmission-card__content">
            <h3 class="transmission-card__subtitle">О людях и книгах</h3>
            <p class="transmission-card__text">Анонсируется отдельно</p>
            <a href="#" class="more-link transmission-card__more-link">
              <span class="more-link__text"> Подробнее </span>
              <svg class="more-link__icon">
                <use xlink:href="./img/sprite.svg#arrow"></use>
              </svg>
            </a>
          </div>
        </article>
        <article class="transmission-card">
          <picture>
            <source
              media="(min-width: 48rem)"
              srcset="img/transmission__1.avif"
              type="image/avif"
            />
            <source
              media="(min-width: 48rem)"
              srcset="img/transmission__1.webp"
              type="image/webp"
            />
            <source
              media="(max-width: 47.99rem)"
              srcset="img/transmission__1_mobile.avif"
              type="image/avif"
            />
            <source
              media="(max-width: 47.99rem)"
              srcset="img/transmission__1_mobile.webp"
              type="image/webp"
            />
            <img
              alt="О людях и книгах"
              loading="lazy"
              src="img/transmission__1.jpg"
              class="transmission-card__img"
            />
          </picture>
          <div class="transmission-card__content">
            <h3 class="transmission-card__subtitle">О людях и книгах</h3>
            <p class="transmission-card__text">Анонсируется отдельно</p>
            <a href="#" class="more-link transmission-card__more-link">
              <span class="more-link__text"> Подробнее </span>
              <svg class="more-link__icon">
                <use xlink:href="./img/sprite.svg#arrow"></use>
              </svg>
            </a>
          </div>
        </article>
        <article class="transmission-card">
          <picture>
            <source
              media="(min-width: 48rem)"
              srcset="img/transmission__1.avif"
              type="image/avif"
            />
            <source
              media="(min-width: 48rem)"
              srcset="img/transmission__1.webp"
              type="image/webp"
            />
            <source
              media="(max-width: 47.99rem)"
              srcset="img/transmission__1_mobile.avif"
              type="image/avif"
            />
            <source
              media="(max-width: 47.99rem)"
              srcset="img/transmission__1_mobile.webp"
              type="image/webp"
            />
            <img
              alt="О людях и книгах"
              loading="lazy"
              src="img/transmission__1.jpg"
              class="transmission-card__img"
            />
          </picture>
          <div class="transmission-card__content">
            <h3 class="transmission-card__subtitle">О людях и книгах</h3>
            <p class="transmission-card__text">Анонсируется отдельно</p>
            <a href="#" class="more-link transmission-card__more-link">
              <span class="more-link__text"> Подробнее </span>
              <svg class="more-link__icon">
                <use xlink:href="./img/sprite.svg#arrow"></use>
              </svg>
            </a>
          </div>
        </article>
        <article class="transmission-card">
          <picture>
            <source
              media="(min-width: 48rem)"
              srcset="img/transmission__1.avif"
              type="image/avif"
            />
            <source
              media="(min-width: 48rem)"
              srcset="img/transmission__1.webp"
              type="image/webp"
            />
            <source
              media="(max-width: 47.99rem)"
              srcset="img/transmission__1_mobile.avif"
              type="image/avif"
            />
            <source
              media="(max-width: 47.99rem)"
              srcset="img/transmission__1_mobile.webp"
              type="image/webp"
            />
            <img
              alt="О людях и книгах"
              loading="lazy"
              src="img/transmission__1.jpg"
              class="transmission-card__img"
            />
          </picture>
          <div class="transmission-card__content">
            <h3 class="transmission-card__subtitle">О людях и книгах</h3>
            <p class="transmission-card__text">Анонсируется отдельно</p>
            <a href="#" class="more-link transmission-card__more-link">
              <span class="more-link__text"> Подробнее </span>
              <svg class="more-link__icon">
                <use xlink:href="./img/sprite.svg#arrow"></use>
              </svg>
            </a>
          </div>
        </article>
        <article class="transmission-card">
          <picture>
            <source
              media="(min-width: 48rem)"
              srcset="img/transmission__1.avif"
              type="image/avif"
            />
            <source
              media="(min-width: 48rem)"
              srcset="img/transmission__1.webp"
              type="image/webp"
            />
            <source
              media="(max-width: 47.99rem)"
              srcset="img/transmission__1_mobile.avif"
              type="image/avif"
            />
            <source
              media="(max-width: 47.99rem)"
              srcset="img/transmission__1_mobile.webp"
              type="image/webp"
            />
            <img
              alt="О людях и книгах"
              loading="lazy"
              src="img/transmission__1.jpg"
              class="transmission-card__img"
            />
          </picture>
          <div class="transmission-card__content">
            <h3 class="transmission-card__subtitle">О людях и книгах</h3>
            <p class="transmission-card__text">Анонсируется отдельно</p>
            <a href="#" class="more-link transmission-card__more-link">
              <span class="more-link__text"> Подробнее </span>
              <svg class="more-link__icon">
                <use xlink:href="./img/sprite.svg#arrow"></use>
              </svg>
            </a>
          </div>
        </article>
        <article class="transmission-card">
          <picture>
            <source
              media="(min-width: 48rem)"
              srcset="img/transmission__1.avif"
              type="image/avif"
            />
            <source
              media="(min-width: 48rem)"
              srcset="img/transmission__1.webp"
              type="image/webp"
            />
            <source
              media="(max-width: 47.99rem)"
              srcset="img/transmission__1_mobile.avif"
              type="image/avif"
            />
            <source
              media="(max-width: 47.99rem)"
              srcset="img/transmission__1_mobile.webp"
              type="image/webp"
            />
            <img
              alt="О людях и книгах"
              loading="lazy"
              src="img/transmission__1.jpg"
              class="transmission-card__img"
            />
          </picture>
          <div class="transmission-card__content">
            <h3 class="transmission-card__subtitle">О людях и книгах</h3>
            <p class="transmission-card__text">Анонсируется отдельно</p>
            <a href="#" class="more-link transmission-card__more-link">
              <span class="more-link__text"> Подробнее </span>
              <svg class="more-link__icon">
                <use xlink:href="./img/sprite.svg#arrow"></use>
              </svg>
            </a>
          </div>
        </article>
      </div>
      <div class="transmission__item transmission__item_a-end">
        <picture>
          <source
            media="(min-width: 64rem)"
            srcset="img/transmission__micro.avif"
            type="image/avif"
          />
          <source
            media="(min-width: 64rem)"
            srcset="img/transmission__micro.webp"
            type="image/webp"
          />
          <source
            media="(max-width: 63.99rem)"
            srcset="img/transmission__micro_tablet.avif"
            type="image/avif"
          />
          <source
            media="(max-width: 63.99rem)"
            srcset="img/transmission__micro_tablet.webp"
            type="image/webp"
          />
          <img
            alt="Микрофон"
            loading="lazy"
            src="img/transmission__micro.jpg"
            class="transmission__img"
          />
        </picture>
        <div>
          <button type="button" class="btn-reset transmission__button">
            <svg class="transmission__icon">
              <use xlink:href="./img/sprite.svg#layers"></use>
            </svg>
            Архив
          </button>
          <p class="transmission__text transmission__text_lh">
            В архив попадают все передачи, которые вы пропустили!
            <span class="transmission__text transmission__text_fw"
              >Enjoy :)</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
