<section class="wave-radio">
  <div class="container wave-radio__container">
    <div class="wave-radio__item">
      <picture>
        <source
          media="(min-width: 48rem)"
          srcset="img/wave-radio.avif"
          type="image/avif"
        />
        <source
          media="(min-width: 48rem)"
          srcset="img/wave-radio.webp"
          type="image/webp"
        />
        <source
          media="(max-width: 47.99rem)"
          srcset="img/wave-radio__mobile.avif"
          type="image/avif"
        />
        <source
          media="(max-width: 47.99rem)"
          srcset="img/wave-radio__mobile.webp"
          type="image/webp"
        />
        <img
          loading="lazy"
          src="img/wave-radio.png"
          class="wave-radio__img"
          alt="Наше радио"
        />
      </picture>
    </div>
    <div class="wave-radio__item">
      <h2 class="title wave-radio__title">Будь с нами на одной волне!</h2>
      <p class="wave-radio__text wave-radio__text_mgb-12">
        Друзья, рады представить вам продукт нашего производства! Да-да,
        несмотря на то, что мы только начали свой путь радиовещателей, нам
        хочется, чтобы вы могли как следует нас расслышать :)
      </p>
      <p class="wave-radio__text wave-radio__text_mgb-30">
        Итак, встречайте! Портативный радиоприёмник-колонка
        <span class="wave-radio__text wave-radio__text_color-promo">
          W-Wave 1.0 xm </span
        >. Тщательный подбор всех делатей, ручная сборка, качественный звук.
        Пока доступно только 60 штук в 3 цветах, но мы активно трудимся над
        новыми партиями и дизайном. Спешите приобрести!
      </p>
      <p class="wave-radio__price">2800 руб</p>
      <button class="button btn-reset wave-radio__button">
        <img
          src="../img/wave-radion__icon.svg"
          class="wave-radio__icon"
          alt=""
        />
        Купить на Яндекс.Маркет
      </button>
    </div>
  </div>
</section>
