:root {
  --color-primary: #6d31ee;
  --color-lightBlack: #121723;
  --color-light: #e6e8ec;
  --color-gray: #a1a6b4;
  --color-promo: rgba(240, 210, 136, 1);
  --color-shadeGray: #d2d5dd;
  --color-primaryLight: #aa9dfa;
  --color-primaryShade: rgba(79, 40, 165, 1);
}
